<!DOCTYPE html>
<html>
<head>
    <title>BSU App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="header">
        <div class="user-container" id="userContainer">
            <div class="menu-icon">
                <span></span>
                <span></span>
                <span></span>
            </div>
            {% if session.username %}
                <div class="user-menu" id="userMenu">
                    <a href="{{ url_for('logout') }}">Выйти</a>
                    <a href="{{ url_for('login') }}">Сменить аккаунт</a>
                    <a href="{{ url_for('invitations') }}">Приглашения</a>
                    <a href="{{ url_for('friends') }}">Друзья</a>

                    {% if session.role in ['moderator', 'admin'] %}
                        <a href="{{ url_for('validation') }}">Подтверждение статуса</a>
                    {% endif %}

                    {% if session.role == 'organizer' and not current_user.validation %}
                        <a href="{{ url_for('add_event') }}">Добавить мероприятие</a>
                        <a href="{{ url_for('my_events') }}">Мои мероприятия</a>
                    {% endif %}

                    {% if session.role in ['moderator', 'admin'] and not current_user.validation %}
                        <a href="{{ url_for('add_tag') }}">Добавить тег</a>
                    {% endif %}   
                                        
                    {% if session.role in ['moderator', 'admin'] %}
                        <a href="{{ url_for('all_organizers') }}">Все организаторы</a>
                        <a href="{{ url_for('all_users') }}">Все участники</a>
                        <a href="{{ url_for('all_events') }}">Все мероприятия</a>
                    {% endif %}
                    
                    <a href="{{ url_for('profile') }}">Профиль</a>
                </div>
            {% else %}
                <div class="user-menu" id="userMenu">
                    <a href="{{ url_for('login') }}">Войти</a>
                    <a href="{{ url_for('register') }}">Регистрация</a>
                </div>
            {% endif %}
        </div>
        <div class="menu-buttons">
            <a href="{{ url_for('show_map') }}" class="menu-btn">Карта</a>
            <div class="search-container">
                <form method="GET" action="/">
                    <input class="search-input" type="text" name="search" placeholder="Поиск..." value="{{ search_query|default('') }}">
                    <input type="hidden" name="tag" value="{{ selected_tag|default('') }}">
                        <button class="menu-btn" type="submit">Поиск</button>
                </form>
            </div>
            <select class="menu-btn" onchange="filterPosts('tag', this.value)">
                <option value="">Все теги</option>
                {% for tag in tags %}
                    <option value="{{ tag.name }}" {% if tag.name == selected_tag %}selected{% endif %}>{{ tag.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="posts-container">
        {% if session.username and session.role == 'participant' and current_user.validation %}
            <div class="warning">
                {% if current_user.validation == 'organizer' %}
                    Вы не обладаете возможностями организатора до подтверждения модератором или администратором
                {% elif current_user.validation == 'moderator' %}
                    Вы не обладаете возможностями модератора до подтверждения администратором
                {% endif %}
            </div>
        {% endif %}
        {% for post in posts %}
             {% include 'post.html' %}
        {% endfor %}
    </div>

    <div class="footer">
        BSU
    </div>

    {% include 'modal.html' %}

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>