<!DOCTYPE html>
<html>
<head>
    <title>Тот самый сайт</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="header">
        <div class="sidebar-overlay" id="sidebarOverlay"></div>
            <div class="sidebar-menu" id="sidebarMenu">
                <div class="sidebar-header">
                    {% if session.username %}
                    <img src="{{ url_for('static', filename=current_user.avatar_url) if current_user.avatar_url else url_for('static', filename='images/default-avatar.png') }}" 
                        class="sidebar-avatar" 
                        alt="User Avatar">
                        <span class="sidebar-username">{{ session.username }}</span>
                    {% else %}
                    <img src="{{ url_for('static', filename='images/default-avatar.png') }}" 
                        class="sidebar-avatar" 
                        alt="User Avatar">
                    {% endif %}
                </div>
                <div class="sidebar-content">
                    {% if session.username %}
                        <a href="{{ url_for('logout') }}" class="sidebar-item">
                            <img src="{{ url_for('static', filename='images/logout-icon.png') }}" class="sidebar-icon">
                            <span>Выйти</span>
                        </a>
                        <a href="{{ url_for('login') }}" class="sidebar-item">
                            <img src="{{ url_for('static', filename='images/switch-icon.png') }}" class="sidebar-icon">
                            <span>Сменить аккаунт</span>
                        </a>
                        <a href="{{ url_for('invitations') }}" class="sidebar-item">
                            <img src="{{ url_for('static', filename='images/invite-icon.png') }}" class="sidebar-icon">
                            <span>Приглашения</span>
                            {% if pending_friend_requests is defined and pending_friend_requests > 0 %}
                                <span class="sidebar-badge">{{ pending_friend_requests }}</span>
                            {% endif %}
                        </a>
                        <a href="{{ url_for('friends') }}" class="sidebar-item">
                            <img src="{{ url_for('static', filename='images/friends-icon.png') }}" class="sidebar-icon">
                            <span>Друзья</span>
                            {% if pending_friend_requests is defined and pending_friend_requests > 0 %}
                                <span class="sidebar-badge">{{ pending_friend_requests }}</span>
                            {% endif %}
                        </a>
                        <a href="{{ url_for('subscriptions') }}" class="sidebar-item">
                            <img src="{{ url_for('static', filename='images/subscribe-icon.png') }}" class="sidebar-icon">
                            <span>Подписки</span>
                        </a>
                        {% if session.role in ['moderator', 'admin'] %}
                            <a href="{{ url_for('validation') }}" class="sidebar-item">
                                <img src="{{ url_for('static', filename='images/validation-icon.png') }}" class="sidebar-icon">
                                <span>Подтверждение статуса</span>
                                {% if pending_organizers + pending_moderators > 0 %}
                                    <span class="sidebar-badge">{{ pending_organizers + pending_moderators }}</span>
                                {% endif %}
                            </a>
                        {% endif %}

                        {% if session.role == 'organizer' and not current_user.validation %}
                            <a href="{{ url_for('add_event') }}" class="sidebar-item">
                                <img src="{{ url_for('static', filename='images/add-event-icon.png') }}" class="sidebar-icon">
                                <span>Добавить мероприятие</span>
                            </a>
                            <a href="{{ url_for('my_events') }}" class="sidebar-item">
                                <img src="{{ url_for('static', filename='images/events-icon.png') }}" class="sidebar-icon">
                                <span>Мои мероприятия</span>
                            </a>
                        {% endif %}

                        {% if session.role in ['organizer', 'moderator', 'admin'] and not current_user.validation %}
                            <a href="{{ url_for('add_tag') }}" class="sidebar-item">
                                <img src="{{ url_for('static', filename='images/tags-icon.png') }}" class="sidebar-icon">
                                <span>Добавить тег</span>
                            </a>
                        {% endif %}   
                                                
                        {% if session.role in ['moderator', 'admin'] %}
                            <a href="{{ url_for('all_organizers') }}" class="sidebar-item">
                                <img src="{{ url_for('static', filename='images/organizers-icon.png') }}" class="sidebar-icon">
                                <span>Все организаторы</span>
                            </a>
                            <a href="{{ url_for('all_users') }}" class="sidebar-item">
                                <img src="{{ url_for('static', filename='images/users-icon.png') }}" class="sidebar-icon">
                                <span>Все участники</span>
                            </a>
                            <a href="{{ url_for('all_events') }}" class="sidebar-item">
                                <img src="{{ url_for('static', filename='images/all-events-icon.png') }}" class="sidebar-icon">
                                <span>Все мероприятия</span>
                            </a>
                        {% endif %}
                        
                        <a href="{{ url_for('profile') }}" class="sidebar-item">
                            <img src="{{ url_for('static', filename='images/profile-icon.png') }}" class="sidebar-icon">
                            <span>Профиль</span>
                        </a>
                    {% else %}
                        <a href="{{ url_for('login') }}" class="sidebar-item">
                            <img src="{{ url_for('static', filename='images/login-icon.png') }}" class="sidebar-icon">
                            <span>Войти</span>
                        </a>
                        <a href="{{ url_for('register') }}" class="sidebar-item">
                            <img src="{{ url_for('static', filename='images/register-icon.png') }}" class="sidebar-icon">
                            <span>Регистрация</span>
                        </a>
                    {% endif %}
                </div>
            </div>

            <div class="menu-icon" onclick="toggleSidebar()">
                <span></span>
                <span></span>
                <span></span>
            </div>
        <div class="menu-buttons">
            <label class="menu-btn">
                <input type="checkbox" id="nearbyToggle" 
                    onchange="toggleNearbyFilter(this)"
                    {% if nearby_filter_active %}checked{% endif %}>
                Возле меня
            </label>
            <span style="color: white; margin-right: 10px;">Сортировка:</span>
            <select class="menu-btn" id="sortSelector" onchange="applySorting(this.value)">
                {% if session.username %}
                    <option value="recommended" 
                        {% if selected_sort == 'recommended' %}selected{% endif %}>
                        Для вас
                    </option>
                {% endif %}
                <option value="popular" {% if selected_sort == 'popular' %}selected{% endif %}>По популярности</option>
                <option value="rating" {% if selected_sort == 'rating' %}selected{% endif %}>По рейтингу</option>
                <option value="newest" {% if selected_sort == 'newest' %}selected{% endif %}>Время: сначала новое</option>
                <option value="oldest" {% if selected_sort == 'oldest' %}selected{% endif %}>Время: сначала старое</option>
            </select>

            <a href="{{ url_for('show_map') }}" class="menu-btn">Карта</a>
            <div class="search-container">
                <form method="GET" action="/">
                    <input class="search-input" type="text" name="search" placeholder="Поиск..." value="{{ search_query|default('') }}">
                    <input type="hidden" name="tag" value="{{ selected_tag|default('') }}">
                        <button class="menu-btn" type="submit">Поиск</button>
                </form>
            </div>
            <select class="menu-btn" onchange="filterPosts('tag', this.value)">
                <option value="">Все теги</option>
                {% for tag in tags %}
                    <option value="{{ tag.name }}" {% if tag.name == selected_tag %}selected{% endif %}>{{ tag.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    
    <div class="posts-container">
        {% if session.username and session.role == 'participant' and current_user.validation %}
            <div class="warning">
                {% if current_user.validation == 'organizer' %}
                    Вы не обладаете возможностями организатора до подтверждения модератором или администратором
                {% elif current_user.validation == 'moderator' %}
                    Вы не обладаете возможностями модератора до подтверждения администратором
                {% endif %}
            </div>
        {% endif %}
        {% for post in posts %}
             {% include 'post.html' %}
        {% endfor %}
    </div>

    <div class="footer">
        Команда "Те самые"
    </div>

    {% include 'modal.html' %}

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>