<!DOCTYPE html>
<html>
<head>
    <title>Сброс пароля</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="header">
        <a href="{{ url_for('home') }}" class="menu-btn">На главную</a>
    </div>
    <div class="posts-container">
        <h2>Сброс пароля</h2>
        {% if error %}
            <p style="color: #ff6200;">{{ error }}</p>
        {% elif message %}
            <p style="color: green;">{{ message }}</p>
        {% endif %}
        <form method="POST">
            <label>Email, указанный при регистрации:</label><br>
            <input class="search-input" type="email" name="email" required><br><br>
            <button type="submit" class="menu-btn">Отправить инструкции</button>
        </form>
    </div>
</body>
</html>